h2{
    text-align: center;
    font-size: 24px;
    }
    hr{
    margin-bottom: 30px;
    }
    div.container{
    width: 960px;
    height: 610px;
    margin:50px auto;
    font-family: 'Droid Serif', serif;
    position:relative;
    }
    div.main{
    width: 320px;
    float:left;
    margin-left:200px;
    padding: 10px 55px 40px;
    background-color: rgba(187, 255, 184, 0.65);
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;
    }